@import "tailwindcss";

:root {
  --color-background-light: #ffffff;
  --color-foreground-light: #333333;
  --color-background-dark: #000000;
  --color-foreground-dark: #ededed;
}

/* Aplicamos colores por defecto para el modo claro */
body {
  background-color: var(--color-background-light);
  color: var(--color-foreground-light);
  font-family: Arial, Helvetica, sans-serif;
}

/* Estilos cuando el sistema esté en modo oscuro */
@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--color-background-dark);
    color: var(--color-foreground-dark);
  }
}
